@import "@/styles/_variables.scss";

.account {
  padding: $spacing-s 0;

  &__title {
    font-size: $font-size-base;
    margin-bottom: $spacing-s;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-m;
    border: 1px solid #ccc;
    padding: $spacing-m;
    border-radius: $spacing-s;

    &__avatar {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: $spacing-m;
      border: 1px solid #eee;
      background: #fafafa;
    }

    &__text {
      display: flex;
      flex-direction: column;
    }

    &__user-name {
      font-size: 0.95rem;
      font-weight: 600;
      color: $color-text-primary;
    }

    &__user-email {
      font-size: 0.85rem;
      color: $color-text-secondary;
      word-break: break-all;
    }
  }

  &__logout-btn {
    width: 100%;
    background: $color-error;
    color: #fff;
    border: none;
    border-radius: $spacing-s;
    padding: $spacing-s $spacing-m;
    margin: auto;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
    &:hover {
      background: darken($color-error, 10%);
    }
  }
}
