@import "./variables";

html,
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.5;
  color: $color-text-primary;
  background: $color-background;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: color 0.2s;
  &:hover {
    color: $color-accent;
  }
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
